global:
  scrape_interval: 60s # Default scrape interval
  retention: 24h

scrape_configs:
  - job_name: node
    static_configs:
      - targets: ['microservicio-notificacionespush-production.up.railway.app']

  #  ? TODO: add your services here
  # - job_name: 'your-job-name'
  #   scheme: https
  #   static_configs:
  #     - targets: ['URL_GOES_HERE']
  #   basic_auth:
  #     username: HTTP_AUTH_USERNAME_GOES_HERE
  #     password: HTTP_AUTH_PASSWORD_GOES_HERE
